<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><![endif]-->
<html lang="ru">
{% block header %}
    <head>
        <meta charset="utf-8"/>
        <title>Профилированный брус от производителя. Дома из профилированного бруса.</title>
        <meta name="description"
              content="Производитель Славич 95 предлагает профилированный брус напрямую с пилорамы. Без посредников. Доставка в ЦФО и СЗФО. Доступные цены.">
        <meta name="keywords"
              content="профилированный брус от производителя славич 95, дома из профилированного бруса, деревянные дома из профилированного бруса">
        <meta content="telephone=no" name="format-detection"/>
        <meta http-equiv="x-rim-auto-match" content="none">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="stylesheet" href="css/animate.css"/>
        <link rel="stylesheet" href="css/grid.css"/>
        <link rel="stylesheet" href="libs/fancybox/jquery.fancybox.css"/>
        <link rel="stylesheet" href="libs/slider/owl.carousel.css"/>
        <link rel="stylesheet" href="css/fonts.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="css/media.css"/>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
{% endblock %}

<body>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter41042534 = new Ya.Metrika({
                    id:41042534,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/41042534" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

{% block top %}
    {% set navigation_bar = [
    ['index', 'Профилированный брус'],
    ['construction', 'Строительство'], 
    ['lumber', 'Пиломатериалы'], 
    ['delivery', 'Доставка'], 
    ['payment', 'Оплата'], 
    ['djut', 'Утеплитель'] ] %}
    
    {% set active_page = active_page|default('index') %}

    <header>
        <div class="fly-fixed">
            <div class="header-top">
                <div class="fluid-container">
                    <div class="header-box">
                        <div class="logo">
                            <a href="index.html"><img src="img/logo.png" alt="logo"></a>
                        </div>
                        <ul class="call-back">
                            <li>
                                <ul>
                                    <li>8 (800) 555-12-88</li>
                                    <li>Звоните нам с 8:00 до 21:00</li>
                                    <li>Без обеда и выходных !</li>
                                </ul>
                            </li>
                            <li>
                                {% include "../_partials/blocks/button.thml.twig" with {
                                'button_id': 'call-back-btn1',
                                'button_class': 'call-back-btn',
                                'form_id': '50934',
                                'form_title': 'Свяжитесь с нами',
                                'button_text': 'Свяжитесь с нами',
                                }
                                %}
                            </li>
                        </ul>
                        <ul class="instagram">
                            <li>
                                <a href="https://www.instagram.com/pavlov.iport/" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
                            </li><li>
                                <a href="https://www.instagram.com/explore/tags/славич_строит_дом/">#славич_строит_дом</a>
                            </li>
                        </ul>
                        <ul class="contact">
                            <li><a href="#">slavich-95@mail.ru</a></li>
                            <li>+7 (911) 101-55-35</li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav>
                <div class="fluid-container">
                    <button class="menu-btn hidden"></button>
                    <ul class="menu">
                        {% for item in navigation_bar %}
                            <li>
                                <a {% if item[0] == active_page %} class="active"{% endif %} href="{{ item[0] }}.html">{{ item[1] }}</a>
                            </li>
                        {% endfor %}
                        <li><a href="#">Информация</a></li>
                        <li><a href="#">Медиа</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}
<main>
{% block content %}{% endblock %}
</main>
{% block footer %}
    <footer>
        <div class="fluid-container">
            <div class="row">
                <ul class="center-align">
                    <li><a href="#"><img src="img/logo.png" alt="logo"></a></li>
                    <li>© 1995-2016 «Славич 95».</li>
                    <li>Все права защищены законодательством РФ</li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <!--[if lt IE 9]>
    <script src="libs/html5shiv/es5-shim.min.js"></script>
    <script src="libs/html5shiv/html5shiv.min.js"></script>
    <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="libs/respond/respond.min.js"></script>
    <![endif]-->


    <script src="libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://formdesigner.ru/js/widgets/popup.js"></script>
    <script src="js/jquery.bootstrap-autohidingnavbar.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="libs/slider/owl.carousel.min.js"></script>
    <script src="libs/fancybox/jquery.fancybox.pack.js"></script>
    <script src="js/common.js"></script>
{% endblock %}
</body>
</html>
