{% extends "../_layouts/layout.html.twig" %}
{% set active_page = "djut" %}

{% block content %}
    <section class="djut">
        <div class="container">
            <div class="content">
                <h1>Межвенцовый утеплитель</h1>
                <p>Наша строительная компания уже долгое время использует в качестве межвенцового утеплителя, джутовое
                    полотно.</p>
                <p>Джутовое полотно - современный теплоизоляционный материал для укладки его между венцами стен домов из
                    бруса, герметизации дверных и оконных проемов и других утеплительных работ</p>
                <p>У данного вида утеплителя имеется ряд преимуществ перед аналогичными материалами, некоторые из них Вы
                    узнаете из этой статьи.</p>
                <p>Самым основным положительным качеством джутового полотна является его 100% натуральное происхождение,
                    что отлично подойдет для постройки экологичного дома или бани из дерева.</p>
                <p>Превосходными показателями применяемого нами джута можно выделить такие как:</p>
                <ul>
                    <li>- сохранение тепла в стыках, соединениях при установке срубов домов и бань</li>
                    <li>- отличная шумоизоляция внутренних помещений сруба деревянного дома и шумоизоляция внутренних
                        перегородок
                    </li>
                    <li>- джут не разрушается при попадании влаги и солнечного света</li>
                    <li>- хорошо защищен от биологических агентов, вызывающих гниение натуральных природных материалов
                    </li>
                </ul>
                <p>Для наших клиентов всегда в наличии джут полотно специального сечения, применяемого под
                    профилированный брус, который мы производим. </p>
                <p>Джут полотно для нашего профилированного бруса в рулонах по 20 метров и размерами:</p>
                <ul>
                    <li>- толщина 5мм ширина 60мм</li>
                    <li>- толщина 5мм ширина 100мм</li>
                </ul>
                <div class="center-align">
                    <img src="img/djut.jpg" alt="Джут">
                </div>
            </div>
        </div>
    </section>
    {% include "../_partials/vantage.html.twig" %}
    {% include "../_partials/faq.html.twig" %}
{% endblock %}