{% extends "../_layouts/layout.html.twig" %}
{% set active_page = "dom_brus" %}

{% block content %}
    <section class="construction">
        <br>
        <div class="fluid-container">
            <div class="content">
                <div class="panel panel-success" id="form">
                    <div class="panel-heading center-align">
                        <h3>Получить предварительный расчет</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="php/mailer.php" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label for="inputEmail" class="col-xs-2 col-form-label">Ваш email</label>
                                <div class="col-xs-5">
                                    <input type="email" class="form-control" id="inputEmail" name="inputEmail"
                                           aria-describedby="emailHelp" placeholder="Введите ваш адрес email" required>
                                    <small id="emailHelp" class="form-text text-muted">Ваш адрес будет использован
                                        только
                                        для обратной связи.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPhone" class="col-xs-2 col-form-label">Номер телефона</label>
                                <div class="col-xs-5">
                                    <input type="tel" class="form-control" id="inputPhone" name="inputPhone"
                                           aria-describedby="inputPhone" placeholder="Введите ваш номер телефона" required>
                                    <small id="emailHelp" class="form-text text-muted">Ваш номер будет использован
                                        только
                                        для обратной связи.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="uploaded_file" class="col-xs-2 col-form-label">Файл</label>
                                <div class="col-xs-5">
                                    <span class="btn btn-file"><input type="file" name="uploaded_file"
                                                                      id="uploaded_file" required/></span>
                                    <small id="FileHelp" class="form-text text-muted">
                                        Максимальный размер файла - 200Mb
                                    </small>
                                    <div class="help-block with-errors" id="errors"></div>
                                </div>
                            </div>

                            <input type="hidden" name="MAX_FILE_SIZE" value="200000000"/>
                            <input type="hidden" name="redirect_page" value="construction.html?status=ok"/>
                            <button id="attach_doc" class="order-btn pattern pp">Отправить</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-success" id="uploadOk" style="display: none">
                    <div class="panel-body">
                        Файл успешно отправлен
                    </div>
                </div>
                <h1>Полезная информация</h1>
                <p>На сайте нашей компании вы можете ознакомиться с полезной информацией и рядом технических решений,
                    применяемых нами для строительства из профилированного бруса домов, бань и других деревянных
                    сооружений. Специалисты нашей компании качественно и быстро выполнят сборку сруба под усадку с
                    кровлей, дома или бани, любого типа сложности, на готовый фундамент и по Вашему индивидуальному
                    проекту или чертежу. Если же вы не нашли подходящего варианта типового строительства, то можете
                    сообщить нам о своих задумках, и мы в кратчайшие сроки поможем разработать сметный расчет для Вашего
                    строения из бруса под усадку в соответствии с Вашими пожеланиями. Воспользовавшись кнопкой «получить
                    предварительный расчет» Вы имеете возможность отправить нам эскиз, проект или иной другой вариант
                    для получения информации о Вашем строении. Необходимая от Вас информация: сечение бруса для наружных
                    и внутренних стен, высота пол - потолок поэтажно, кровельный материал для крыши. Наш расчет будет
                    максимально точен и приближен к реальной стоимости строительных мероприятий и материалов, что
                    поможет Вам избежать дополнительных затрат за непонятные услуги.</p>
                <p>ООО «Славич 95» предлагает выгодное сотрудничество: качество сборки и материалов, а так же сроки
                    строительства очень порадуют Вас. Цены на сборку из бруса существенно ниже, чем у конкурентов
                    связано это с тем, что мы не закупаем деревянные материалы у посреднических предприятий, а
                    производим их сами. В штате нашей компании работают профессиональные мастера, которые имеют высокую
                    квалификацию и большой опыт строительных работ, а также собственные наработки в домостроении из
                    профилированного бруса с применением, проверенных временем технологий, обеспечивающих безопасность и
                    надежность строений. Кроме того, в случае серьезных намерений к сотрудничеству, можете получить
                    доступ на наши стройки в близи с Вашим местонахождением, своими глазами увидеть материалы и
                    строительный процесс. </p>
                <p>Среди прочих строительная компания «ООО Славич 95» зарекомендовала себя как надежная, ответственная
                    компания, соблюдающая свои гарантийные обязательства. Сделав заказ у нас, Вы будете приятно удивлены
                    низкими ценами, минимальными сроками производства и высоким качеством строительства.</p>

                <h1>Основные технические решения нашей сборки.</h1>
                <p>Основанием дома является закладной ряд или обвязка, которая кладется на готовый
                    фундамент, изготавливается из обрезного пиломатериала и обязательно обрабатывается
                    антисептическими материалами, соединения обвязки имеют специальные замки для теплоизоляции
                    строения. Может выполняться как в один ряд , так и в два ряда с креплением половых балок (лаг).</p>
                <p>Стены дома изготавливаются из профилированного бруса различных сечений в зависимости от
                    погодных условий и применения строения, рекомендация 200×200 мм .
                    <span style="color: #7030a0;">материал такой толщины обладает хорошей теплоизоляцией, а использование
                                качественного межвенцового утеплителя позволяет свести к минимуму потери тепла.</span>
                    Высота помещений зависит от количества рядов (венцов) бруса в стене, часто используемые параметры
                    это 2,6м-2,75м.
                </p>
                <p><span style="color: #eb2813">В базовую стоимость сборки домов уже включены:</span> теплые замки
                    углов (прямой тёплый угол с коренным шипом) и трапециевидные замки примыкания бруса, как
                    продольного,
                    так и перпендикулярного соединения.
                </p>
                <p>Фиксация бруса в вертикальной плоскости происходит за счет деревянных нагелей, как показал
                    многолетний, опыт очень не желательно использовать гвозди и металлические нагели.
                </p>
                <p>В качестве межвенцового утеплителя используется материал природного происхождения джут,
                    в виде ленты различной толщины и ширины под конкретное сечение бруса.
                </p>
                <p>Балки пола и перекрытий подбираются по сечению профилированного бруса стен строения, устанавливаются
                    с шагом 0,6 – 0,7м., допускается и индивидуальные пожелания заказчика.
                </p>
                <p>Для изготовления стропильной системы используется обрезная пиленая доска размерами 50×150 мм
                    или 50 х 200мм, который устанавливается через каждые 0,6-0,7м, тем самым снижая нагрузки на
                    крышу , так же в дальнейшем облегчает утепление и отделку . Обрешетка выполняется из доски
                    25×150 мм сорта «1-3». В качестве межвенцового утеплителя используется джут 5×100 мм.
                </p>
                <p>При наличии открытой террасы или крыльца, используются деревянные опоры , из строганного со
                    всех четырех сторон бруса. Крепление в верхней точке на регулировочные болтовые соединения,
                    согласно техническим рекомендациям. Сечение бруса опоры зависит от сечения внешних стен дома,
                    что бы конструкция выглядела надежно и эргономично.</p>
                <p>Построенный дом по вышеизложенным рекомендациям и правилам сборки, обладает превосходными
                    экологическими показателями и отличным внешним видом.</p>
                <p>Компания «Славич 95» в минимальные сроки изготовит сруб дома или бани из профилированного бруса.
                    Реализация проекта займет не больше 30 дней с начала сотрудничества. Работы будут выполнены на
                    высоком качественном уровне с соблюдением всех требований и технологий. У Вас остались вопросы?
                    Просто позвоните нам!</p>
                <p>Наши сотрудники предоставят максимально подробную техническую информацию.</p>
            </div>
        </div>
    </section>
    {% include "../_partials/worth.html.twig" %}
    {% include "../_partials/vantage.html.twig" %}
    {% include "../_partials/feedback.html.twig" %}
    {% include "../_partials/faq.html.twig" %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        if (getParameterByName('status')) {
            $("#form").hide("fast");
            $("#uploadOk").show("slow");
        }
    </script>
{% endblock %}

