{% extends "../_layouts/layout.html.twig" %}
{% set active_page = "payment" %}

{% block content %}
{% include "../_partials/picture.html.twig" %}
<section class="payment">
    <div class="container">
        <div class="content">
            <h1>Оплата</h1>
            <p>Преимуществом работы с нами является то, что мы никогда не работаем по предоплате, а основываемся на
                доверительных и взаимовыгодных условиях сотрудничества.</p>
            <p>При заказе строительства или только строительных пиломатериалов без работ по сборке, расчет за
                предоставленный материал и доставку производится сразу после выгрузки у Вас на участке.</p>
            <p>Оплату выполняемых нами работ при участии наших специалистов предлагается разделить и вносить
                поэтапно:</p>
            <ul>
                <li>Этап 1. после готовности этажа оплачивается - 50% от общей стоимости работ;</li>
                <li>Этап 2. после готовности сруба строения - 25% от общей стоимости работ;</li>
                <li>Этап 3. после готовности крыши сруба с кровлей -25% от общей стоимости работ.</li>
            </ul>
            <p>Такой принцип работы очень удобен для наших клиентов. Вы не рискуете отдать Ваши деньги за «воздух», а
                только за увиденные лично материал и результат работ.</p>
            <p>Качественный материал и добросовестное выполнение строительных работ и обязательств перед заказчиком
                позволяют нам использовать такую форму оплаты. У нас никогда не бывает возвратов по материалам и все
                наши клиенты довольны качеством и сроками наших строительных работ.</p>
        </div>
    </div>
</section>
{% include "../_partials/vantage.html.twig" %}
{% include "../_partials/faq.html.twig" %}
{% include "../_partials/delivery.html.twig" %}
{% endblock %}