<section class="delivery">
    <div class="fluid-container">
        <h2>Доставка профилированного бруса</h2>
        <div class="container">
            <div class="col s12 content">
                <p>Мы осуществляем доставку бруса в тентованных еврофурах. В открытых машинах брус не возим, так как он
                    пачкается в пути и отмыть его очень сложно.</p>
                <p>Машина везёт до 45 м3. Если Ваш заказ меньше, то мы собираем сборные машины.</p>
                <p>Брус упакован в пятикубовые пакеты через прокладки.</p>
                <p>У фур открываются бока и верх. Возможна разгрузка руками, краном, манипулятором или погрузчиком.</p>
                <p>Вы можете забрать брус самовывозом с производства. Погрузку в машину мы осуществляем бесплатно.</p>
                <p>Доставка до Москвы стоит от <span style="color: #7030a0;">800 до 1000 руб за м3.</span></>
                <p>Доставка до Санкт-Петербурга стоит <span style="color: #7030a0;">от 500 до 1000 руб</span> за м3.</p>
                <p>Цена зависит от объёма и расстояния.</p>
                <p>Возможна доставка в другие регионы.</p>
                <h3><span>Адрес производства:</span> 174330, Россия, Новгородская обл., Окуловский р-н, пос.
                    Сосновый</h3>
                <img class="responsive-img center-align" src="img/map.jpg" alt="map">

            </div>
        </div>
    </div>
</section>
<section class="price">
    <div class="fluid-container">
        <div class="row valign-wrapper">
            <div class="col s12 m12 l4 valign no-padding">
                <ul class="price-item-1">
                    <li>Осуществляем доставку во все точки Москвы и Московской области, а также в Ленинградскую,
                        Псковскую и другие области Центрального и Северо-Западного регионов России.
                    </li>
                </ul>
            </div>
            <div class="col s12 m12 l5 valign no-padding">
                <ul class="price-item-2">
                    <li>- Доставка до Москвы от 800 до 1000 руб. за м³</li>
                    <li>- Доставка до Санкт-Петербурга от 500 до 1000 руб. за м³</li>
                </ul>
            </div>
            <div class="col s12 m12 l3 valign center-align no-padding">
                {% include "../_partials/blocks/button.thml.twig" with {
                'button_id': 'price-btn1',
                'button_class': 'price-btn',
                'form_id': '50934',
                'form_title': 'Рассчитать цену с доставкой',
                'button_text': 'Получить консультацию',
                } %}
            </div>
        </div>
    </div>
</section>
