<section class="delivery">
    <div class="fluid-container">
        <h2>Доставка профилированного бруса</h2>
        <div class="row">
            <div class="col s12">
                <h3><span>Адрес производства:</span> 174330, Россия, Новгородская обл., Окуловский р-н, пос.
                    Сосновый</h3>
                <img class="responsive-img center-align" src="img/map.jpg" alt="map">
                <ul class="delivery-item">
                    <li>Как производится доставка профилированного бруса?</li>
                    <li>Компания «Славич 95» предлагает Вам полный комплекс логистических услуг. Теперь Вам
                        больше не надо беспокоится о проблемах с транспортировкой: мы в кратчайшие сроки
                        осуществим доставку любых объёмов в любую точку Москвы и Московской области, а также
                        в другие города Центрального и Северо-Западного регионов России.
                    </li>
                    <li>Наши возможности и собственное производство позволяет нам предлагать продукцию по
                        умеренным ценам, а сотрудничество с надежными автотранспортными компаниями и
                        отлаженная система логистики – гарантировать оперативную доставку непосредственно
                        на место строительства, надежность и неизменное качество при транспортировке.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="price">
    <div class="fluid-container">
        <div class="row valign-wrapper">
            <div class="col s12 m12 l4 valign no-padding">
                <ul class="price-item-1">
                    <li>Осуществляем доставку во все точки Москвы и Московской области, а также в Ленинградскую,
                        Псковскую и другие области Центрального и Северо-Западного регионов России.
                    </li>
                </ul>
            </div>
            <div class="col s12 m12 l5 valign no-padding">
                <ul class="price-item-2">
                    <li>- Доставка до Москвы от 800 до 1000 руб. за м³</li>
                    <li>- Доставка до Санкт-Петербурга от 500 до 1000 руб. за м³</li>
                </ul>
            </div>
            <div class="col s12 m12 l3 valign center-align no-padding">
                {% include "../_partials/blocks/button.thml.twig" with {
                'button_id': 'price-btn1',
                'button_class': 'price-btn',
                'form_id': '50934',
                'form_title': 'Рассчитать цену с доставкой',
                'button_text': 'Получить консультацию',
                }
                %}
            </div>
        </div>
    </div>
</section>
