<section class="faq">
    <div class="fluid-container">
        <div class="row">
            <div class="s12">
                <ul class="faq-item">
                    <li>Возникли вопросы? Позвоните нам! <span>8 (800) 555-12-88 или +7 (911) 101-55-35</span>
                    <li>Или пишите: <span>slavich-95@mail.ru</span></li>
                    <li><h4>Или получите бесплатную квалифицированную консультацию специалиста</h4>
                        <button class="get-btn">Получить консультацию ></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
