<section class="order">
    <div class="fluid-container">
        <h2>Отзывы наших клиентов</h2>
        <div class="owl-carousel">
            <div class="item">
                <p>
                    Мы молодая семья <br> <br>
                    Решили с мужем строить дом и баню. Так как дело для нас новое, решили не рисковать и
                    начать с бани. Обратились в компанию «Славич 95» со своими пожеланиями. Совершенно
                    бесплатно получили сметный расчет. Так как нас заинтересовало предложение по стоимости,
                    мы начали строительство. Для себя не ожидали, что все произойдет так быстро и при этом,
                    качественно.
                </p>
                <ul class="slider-item">
                    <li><img src="img/slider-ico-user1.png" alt="user"></li>
                    <li><b>Юлия и Дмитрий Кузнецовы</b><br>Приозерский район, Ленинградской области</li>
                </ul>
            </div>
            <div class="item">
                <p>Первоначально мы с женой рассматривали вариант ремонта нашего старого дачного дома, но
                    оказалось, что по деньгам постройка нового дома из профилированного бруса дешевле, чем
                    ремонт старого жилья. Обратились в компанию «Славич 95», где нам бесплатно предложили
                    профессиональную разработку проекта</p>
                <ul class="slider-item">
                    <li><img src="img/slider-ico.png" alt="user"></li>
                    <li><b>Роман Никулин,</b><br>Великий Новгород, предприниматель</li>
                </ul>
            </div>
            <div class="item">
                <p>
                    Мы с супругой, выходя на пенсию, решили уехать из города поближе к природе. Для этого
                    нам необходим надежный, экологически чистый дом и не очень дорогой. Наш выбор
                    остановился на доме из профилированного бруса. Подкопив средства, мы приступили к выбору
                    строительной компании, которой можно доверить такое ответственное дело. Из большого
                    выбора сайтов в интернете, мы случайно наткнулись на «Славич 95». Пообщались по телефону
                    со специалистами компании. Нам подробно рассказали о многих правилах строительства
                    такого типа домов. Получилось так, что даже по телефонному разговору эта компания
                    внушила нам доверие.
                </p>
                <ul class="slider-item">
                    <li><img src="img/slider-ico-user2.png" alt="user"></li>
                    <li><b>Андрей,</b><br>Истринском районе , п.Бережки</li>
                </ul>
            </div>
        </div>
    </div>
</section>