<section class="lumber">
    <div class="container">
        <div class="content">
            <h1>Пиломатериалы</h1>
            <p>
            Мы можем скомплектовать Ваш заказ любым обрезным пиломатериалом с нашего производства:
            <ul class="pilomat">
                <li>Любой брус или доска первого сорта: <span style="color: #eb2813">7000 руб/м³</span></li>
                <li>Доска 25х100 и 25х150 второго сорта: <span style="color: #eb2813">3700 руб/м³</span></li>
                <li>Половой шпунт естественной влажности 44х140, 44х90, 34х140, 34х90: <span
                            style="color: #eb2813">10500 руб/м³</span></li>
                <li>Имитация бруса естественной влажности 19х140: <span style="color: #eb2813">11500 руб/м³</span></li>
                <li>Евровагонка естественной влажности 19х90: <span style="color: #eb2813">11500 руб/м³</span></li>
            </ul>
            </p>
        </div>
    </div>
</section>
