<section class="lumber">
    <div class="container">
        <div class="content">
            <h1>Пиломатериалы.</h1>
            <p>Мы можем скомплектовать Ваш заказ любым обрезным пиломатериалом.</p>
            <p>Любой брус или доска первого сорта на производстве стоит <span style="color: #eb2813">6700 руб</span> за
                кубометр.</p>
            <p>Доска 25х100 и 25х150 второго сорта на производстве стоит <span style="color: #eb2813">3300 руб</span> за
                кубометр.</p>
        </div>
    </div>
</section>
