<section class="lumber">
    <div class="container">
        <div class="content">
            <h1>Пиломатериалы</h1>
            <p>
            Мы можем скомплектовать Ваш заказ любым обрезным пиломатериалом с нашего производства:
            <ul class="pilomat">
                <li>Любой брус или доска первого сорта: 
                    {% include "../_partials/blocks/ahref.html.twig" with {
                    'button_id': 'call-back-btn1',
                    'button_class': 'call-back-btn',
                    'form_id': '50934',
                    'form_title': 'Свяжитесь с нами',
                    'href_text': '9500 ₽/м³',
                    'price': '9500'
                    }
                    %}
                </li>
                <li>Доска 25х100 и 25х150 второго сорта: 
                    {% include "../_partials/blocks/ahref.html.twig" with {
                    'button_id': 'call-back-btn1',
                    'button_class': 'call-back-btn',
                    'form_id': '50934',
                    'form_title': 'Свяжитесь с нами',
                    'href_text': '3000 ₽/м³',
                    'price': '3000'
                    }
                    %}
                </li>
                <li>Доска 50х100, 50х150, 50х200 второго сорта
                    {% include "../_partials/blocks/ahref.html.twig" with {
                    'button_id': 'call-back-btn1',
                    'button_class': 'call-back-btn',
                    'form_id': '50934',
                    'form_title': 'Свяжитесь с нами',
                    'href_text': '5000 ₽/м³',
                    'price': '5000'
                    }
                    %}
                </li>
                <li>Половой шпунт естественной влажности 44х140, 44х90, 34х140, 34х90: 
                    {% include "../_partials/blocks/ahref.html.twig" with {
                    'button_id': 'call-back-btn1',
                    'button_class': 'call-back-btn',
                    'form_id': '50934',
                    'form_title': 'Свяжитесь с нами',
                    'href_text': '9500 ₽/м³',
                    'price': '9500'
                    }
                    %}
                </li>
                <li>Половой шпунт камерной сушки: 
                    {% include "../_partials/blocks/ahref.html.twig" with {
                    'button_id': 'call-back-btn1',
                    'button_class': 'call-back-btn',
                    'form_id': '50934',
                    'form_title': 'Свяжитесь с нами',
                    'href_text': '10800 ₽/м³',
                    'price': '10800'
                    }
                    %}
                </li>
                <li>Имитация бруса естественной влажности 19х140: 
                    {% include "../_partials/blocks/ahref.html.twig" with {
                    'button_id': 'call-back-btn1',
                    'button_class': 'call-back-btn',
                    'form_id': '50934',
                    'form_title': 'Свяжитесь с нами',
                    'href_text': '9500 ₽/м³',
                    'price': '9500'
                    }
                    %}
                </li>
                <li>Имитация бруса камерной сушки: 
                    {% include "../_partials/blocks/ahref.html.twig" with {
                    'button_id': 'call-back-btn1',
                    'button_class': 'call-back-btn',
                    'form_id': '50934',
                    'form_title': 'Свяжитесь с нами',
                    'href_text': '10800 ₽/м³',
                    'price': '10800'
                    }
                    %}
                </li>
                <li>Евровагонка естественной влажности 19х90: 
                    {% include "../_partials/blocks/ahref.html.twig" with {
                    'button_id': 'call-back-btn1',
                    'button_class': 'call-back-btn',
                    'form_id': '50934',
                    'form_title': 'Свяжитесь с нами',
                    'href_text': '9500 ₽/м³',
                    'price': '9500'
                    }
                    %}
                </li>
                <li>Евровагонка камерной сушки: 
                    {% include "../_partials/blocks/ahref.html.twig" with {
                    'button_id': 'call-back-btn1',
                    'button_class': 'call-back-btn',
                    'form_id': '50934',
                    'form_title': 'Свяжитесь с нами',
                    'href_text': '10800 ₽/м³',
                    'price': '10800'
                    }
                    %}
                </li>
            </ul>
            </p>
        </div>
        <div class="content">
            <h1>Строганные пиломатериалы</h1>
            <p>
                На постоянной основе производим строганные пиломатериалы для каркасного домостроения естественной влажности: 
                    {% include "../_partials/blocks/ahref.html.twig" with {
                    'button_id': 'call-back-btn1',
                    'button_class': 'call-back-btn',
                    'form_id': '50934',
                    'form_title': 'Свяжитесь с нами',
                    'href_text': '9500 ₽/м³',
                    'price': '9500'
                    }
                    %}
                и камерной сушки: 
                    {% include "../_partials/blocks/ahref.html.twig" with {
                    'button_id': 'call-back-btn1',
                    'button_class': 'call-back-btn',
                    'form_id': '50934',
                    'form_title': 'Свяжитесь с нами',
                    'href_text': '10800 ₽/м³',
                    'price': '10800'
                    }
                    %}                
                следующих сечений:
                <ul class="pilomat">
                    <li>200х250(195х245)</li>
                    <li>200х200(195х195)</li>
                    <li>200х150(195х145)</li>
                    <li>200х100(195х95)</li>
                    <li>150х150(145х145)</li>
                    <li>150х100(145х95)</li>
                    <li>100х100(95х95)</li>
                    <li>50х250(45х245)</li>
                    <li>50х200(45х195)</li>
                    <li>50х150(45х145)</li>
                    <li>50х100(45х95)</li>
                    <li>50х50(45х45)</li>
                    <li>25х150(20х145)</li>
                    <li>25х100(20х95)</li>
                    <li>25х50(20х45)</li>
                </ul>
            </p>
        </div>
    </div>
</section>
