<section class="made">
    <div class="fluid-container">
        <h2>Как мы производим профилированный брус</h2>
        <div class="box">
            <ul class="made-item">
                <li><span>01</span></li>
                <li>Заготовка бревен<br> и сортировка по диаметру</li>
            </ul>
            <ul class="made-item">
                <li><span>02</span></li>
                <li>Распиловка бревен на брус</li>
            </ul>
            <ul class="made-item">
                <li><span>03</span></li>
                <li>Подсушивание в течение<br> 1-2 суток</li>
            </ul>
            <ul class="made-item">
                <li><span>04</span></li>
                <li>Обработка бруса<br> под заданный профиль</li>
            </ul>
            <ul class="made-item">
                <li><span>05</span></li>
                <li>Двойной контроль качества при изготовлении — входной контроль бревен и контроль
                    готовой продукции
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col s6 m4 l2 no-padding">
                <img class="responsive-img" src="img/made/pic-1.jpg" alt="pic">
            </div>
            <div class="col s6 m4 l2 no-padding">
                <img class="responsive-img" src="img/made/pic-2.jpg" alt="pic">
            </div>
            <div class="col s6 m4 l2 no-padding">
                <img class="responsive-img" src="img/made/pic-3.jpg" alt="pic">
            </div>
            <div class="col s6 m4 l2 no-padding">
                <img class="responsive-img" src="img/made/pic-4.jpg" alt="pic">
            </div>
            <div class="col s6 m4 l2 no-padding">
                <img class="responsive-img" src="img/made/pic-5.jpg" alt="pic">
            </div>
            <div class="col s6 m4 l2 no-padding">
                <img class="responsive-img" src="img/made/pic-6.jpg" alt="pic">
            </div>
        </div>
    </div>
</section>