<section class="picture">
    <div class="fluid-container">
        <div class="row">
            <div class="col s12 m10 offset-m1 l7 offset-l3 no-padding">
                <h2>Профилированный брус
                    <br><span style="color: #FFD700">камерной сушки</span> <span>от 11000 руб/м³</span>
                    <br>естественной влажности <span>от 8200 руб/м³</span>
                    <br>Без предоплаты!
                </h2>
            </div>
        </div>
    </div>
</section>
