<section class="vantage">
    <div class="fluid-container">
        <h2>Наши преимущества</h2>
        <div class="box">
            <ul class="vantage-item">
                <li>
                    <img class="responsive-img" src="img/vantages-ico/ico-1.png" alt="ico">
                </li>
                <li>
                    <h3>Более 20-ти лет на Российском рынке</h3>
                </li>
            </ul>
            <ul class="vantage-item">
                <li>
                    <img class="responsive-img" src="img/vantages-ico/ico-2.png" alt="ico">
                </li>
                <li>
                    <h3>Мы гарантируем качество каждого выструганного нами бруса</h3>
                </li>
            </ul>
            <ul class="vantage-item">
                <li>
                    <img class="responsive-img" src="img/vantages-ico/ico-3.png" alt="ico">
                </li>
                <li>
                    <h3>Доставка в кратчайшие сроки</h3>
                </li>
            </ul>
            <ul class="vantage-item">
                <li>
                    <img class="responsive-img" src="img/vantages-ico/ico-4.png" alt="ico">
                </li>
                <li>
                    <h3>Собственое производство</h3>
                </li>
            </ul>
            <ul class="vantage-item">
                <li>
                    <img class="responsive-img" src="img/vantages-ico/ico-5.png" alt="ico">
                </li>
                <li>
                    <h3>Выгодные цены</h3>
                </li>
            </ul>
        </div>
    </div>
</section>