<section class="worth">
    <div class="fluid-container">
        <h2>Достоинства домов из профилированного бруса</h2>
        <div class="box">
            <div class="box-cont">
                <img src="img/ico/ico-1.png" alt="ico">
                <ul class="wow fadeInUp worth-item" data-wow-delay="1s">
                    <li><h4>ЭКОЛОГИЧЕСКИ ЧИСТЫЙ МАТЕРИАЛ</h4></li>
                    <li>Отсутствие вредных примесей, паров и токсичных веществ. Вы и ваши дети будут жить в
                        здоровой и чистой среде. Профилированный брус от компании «Славич 95» – универсальный
                        материал нового поколения, сочетающий в себе экологическую чистоту, отличные
                        эксплуатационные характеристики, новейшие технологии и эстетическую красоту.
                    </li>
                </ul>
            </div>
            <div class="box-cont">
                <img src="img/ico/ico-2.png" alt="ico">
                <ul class="wow fadeInUp worth-item" data-wow-delay="1.2s">
                    <li><h4>НАДЕЖНОСТЬ, ПРОЧНОСТЬ И ДОЛГОВЕЧНОСТЬ</h4></li>
                    <li>Виброустойчивая, прочная и надежная конструкция выдерживает нагрузки и обеспечивает
                        устойчивость к сезонным перепадам температур и повышенной влажности. Превосходные
                        теплоизоляцион- ные качества за счет плотности соединения элементов.
                    </li>
                </ul>
            </div>
            <div class="box-cont">
                <img src="img/ico/ico-3.png" alt="ico">
                <ul class="wow fadeInUp worth-item" data-wow-delay="1.4s">
                    <li><h4>ТЕПЛО, КОМФОРТ И УЮТ</h4></li>
                    <li>В отличие от других строительных материалов, профилированный брус создает
                        необыкновенно уютную и благоприятную естественную атмосферу, а его природная фактура -
                        идеальное решение для внутреннего дизайна. Кроме того, дерево «дышит», регулируя
                        влажность в помещении в любое время года.
                    </li>
                </ul>
            </div>
            <div class="box-cont">
                <img src="img/ico/ico-4.png" alt="ico">
                <ul class="wow fadeInUp worth-item" data-wow-delay="1.6s">
                    <li><h4>ДОСТУПНАЯ ЦЕНА</h4></li>
                    <li>Возведение дома из профилированного бруса обойдется намного дешевле, чем аналогичная
                        конструкция из других стройматериалов.
                    </li>
                </ul>
            </div>
            <div class="box-cont">
                <img src="img/ico/ico-5.png" alt="ico">
                <ul class="wow fadeInUp worth-item" data-wow-delay="1.8s">
                    <li><h4>ПРОСТОТА И ЛЕГКОСТЬ<br> СБОРКИ ДОМА</h4></li>
                    <li>Простота и легкость сборки домов любой сложности, высокая скорость монтажа строений.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
