{% extends "../_layouts/layout.html.twig" %}
{% set active_page = "construction" %}

{% block content %}
    <section class="construction">
        <div class="fluid-container">
            <div class="content">
                <h1>Основные технические решения нашей сборки.</h1>
                <p>Основанием дома является закладной ряд или обвязка, которая кладется на готовый
                    фундамент, изготавливается из обрезного пиломатериала и обязательно обрабатывается
                    антисептическими материалами, соединения обвязки имеют специальные замки для теплоизоляции
                    строения. Может выполняться как в один ряд , так и в два ряда с креплением половых балок (лаг).</p>
                <p>Стены дома изготавливаются из профилированного бруса различных сечений в зависимости от
                    погодных условий и применения строения, рекомендация 200×200 мм .
                    <span style="color: #7030a0;">материал такой толщины обладает хорошей теплоизоляцией, а использование
                                качественного межвенцового утеплителя позволяет свести к минимуму потери тепла.</span>
                    Высота помещений зависит от количества рядов (венцов) бруса в стене, часто используемые параметры
                    это 2,6м-2,75м.
                </p>
                <p><span style="color: #eb2813">В базовую стоимость сборки домов уже включены:</span> теплые замки
                    углов (прямой тёплый угол с коренным шипом) и трапециевидные замки примыкания бруса, как
                    продольного,
                    так и перпендикулярного соединения.
                </p>
                <p>Фиксация бруса в вертикальной плоскости происходит за счет деревянных нагелей, как показал
                    многолетний, опыт очень не желательно использовать гвозди и металлические нагели.
                </p>
                <p>В качестве межвенцового утеплителя используется материал природного происхождения джут,
                    в виде ленты различной толщины и ширины под конкретное сечение бруса.
                </p>
                <p>Балки пола и перекрытий подбираются по сечению профилированного бруса стен строения, устанавливаются
                    с шагом 0,6 – 0,7м., допускается и индивидуальные пожелания заказчика.
                </p>
                <p>Для изготовления стропильной системы используется обрезная пиленая доска размерами 50×150 мм
                    или 50 х 200мм, который устанавливается через каждые 0,6-0,7м, тем самым снижая нагрузки на
                    крышу , так же в дальнейшем облегчает утепление и отделку . Обрешетка выполняется из доски
                    25×150 мм сорта «1-3». В качестве межвенцового утеплителя используется джут 5×100 мм.
                </p>
                <p>При наличии открытой террасы или крыльца, используются деревянные опоры , из строганного со
                    всех четырех сторон бруса. Крепление в верхней точке на регулировочные болтовые соединения,
                    согласно техническим рекомендациям. Сечение бруса опоры зависит от сечения внешних стен дома,
                    что бы конструкция выглядела надежно и эргономично.</p>
                <p>Построенный дом по вышеизложенным рекомендациям и правилам сборки, обладает превосходными
                    экологическими показателями и отличным внешним видом.</p>
                <p>Компания «Славич 95» в минимальные сроки изготовит сруб дома или бани из профилированного бруса.
                    Реализация проекта займет не больше 30 дней с начала сотрудничества. Работы будут выполнены на
                    высоком качественном уровне с соблюдением всех требований и технологий. У Вас остались вопросы?
                    Просто позвоните нам!</p>
                <p>Наши сотрудники предоставят максимально подробную техническую информацию.</p>
            </div>
        </div>
    </section>
    {% include "../_partials/worth.html.twig" %}
    {% include "../_partials/made.html.twig" %}
    {% include "../_partials/vantage.html.twig" %}
    {% include "../_partials/feedback.html.twig" %}
    {% include "../_partials/faq.html.twig" %}
{% endblock %}