{% extends "../_layouts/layout.html.twig" %}
{% set active_page = "delivery" %}

{% block content %}
    {% include "../_partials/picture.html.twig" %}
    <section class="delivery-text">
        <div class="container">
            <div class="content">
                <h1>Доставка</h1>
                <p>Мы осуществляем доставку бруса в тентованных еврофурах. В открытых машинах брус не возим, так как он
                    пачкается в пути и отмыть его очень сложно.</p>
                <p>Машина везёт до 45 м3. Если Ваш заказ меньше, то мы собираем сборные машины.</p>
                <p>Брус упакован в пятикубовые пакеты через прокладки.</p>
                <p>У фур открываются бока и верх. Возможна разгрузка руками, краном, манипулятором или погрузчиком.</p>
                <p>Вы можете забрать брус самовывозом с производства. Погрузку в машину мы осуществляем бесплатно.</p>
                <p>Доставка до Москвы стоит от <span style="color: #7030a0;">700 до 1000 руб за м3.</span></p>
                <p>Доставка до Санкт-Петербурга стоит <span style="color: #7030a0;">от 450 до 1000 руб</span> за м3.</p>
                <p>Цена зависит от объёма и расстояния.</p>
                <p>Возможна доставка в другие регионы.</p>
            </div>
        </div>
    </section>
    {% include "../_partials/vantage.html.twig" %}
    {% include "../_partials/faq.html.twig" %}
{% endblock %}

            
